div#hero {
    background-image: url("../images/hero_img.jpg");
    background-attachment: fixed;
    margin-bottom: 1rem;
}

div#hero > div.container {
    height: 50vh;
    width: auto;
}

div.hero_text_wrap {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 100%;
}

div.hero_title {
    margin: auto;
    position: relative;
}

div.hero_text {
    margin: auto;
    position: relative;
    line-height: 3rem;
}


h1.display-4, p.lead{
    color: white;
    text-align: center;
    vertical-align: middle;
}
